<nav class="navbar lp-navbar" role="navigation">
    <!-- style="background-color: #EE7070;" -->
    <div class='container'>
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
               <img class="lp-badge" src="{{ site.data.settings.assets.badge }}">
            </a>
    
            <div class="navbar-burger" data-target="navbar-main"
                onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    
        <div class="navbar-menu" id="navbar-main">
            <div class="navbar-end">
                <!-- navbar items -->
                {% for item in site.data.settings.menu %}
                <a href="{{ item.file }}" onmousedown="return false" class="navbar-item">{{ item.name }}</a>
                {% endfor %}
                {% for item in site.data.settings.social %}
                <div class="navbar-item">
                    <a href="{{ item.link }}" class="bg-transparent button is-danger" target="_blank">
                        <i class="{{ item.icon }} fa-w-14 fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
<!-- <div class="is-divider" style="margin-top: 0.5rem; margin-bottom: 3rem;"></div> -->