<nav class="navbar" role="navigation">
    <div class="navbar-brand nav_brand theme1_background">
        <div class="nav_logo">
            <a class="fill_div" href='/'></a>
        </div>
        <div class="navbar-burger" data-target="navbar-main"
            onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu theme1_background" id="navbar-main">
        <div class="navbar-end">
            <!-- navbar items -->
            {% for item in site.data.settings.menu %}
            <a href="{{ item.file }}" class="navbar-item nav_item" onmousedown="return false">{{ item.name }}</a>
            {% endfor %}
            <!-- <div class="navbar-item nav_item">
                {% for item in site.data.settings.social %}
                <a href="{{ item.link }}" class="button is-white nav_item">
                    <i class="{{ item.icon }} fa-w-14 fa-lg" aria-hidden="true"></i>
                </a>
                {% endfor %}
            </div> -->
        </div>
    </div>
</nav>