<div class="content">
    <h2 class="title is-size-3">
        {{ include.data.title }}
    </h2>
    {% if include.data.subtitle %}
    <p class="subtitle is-size-4">
        {{ include.data.title }}
    </p>
    {% endif %}
    <p>
        {{ include.data.description | markdownify }}
    </p>
    {% if include.data.ref %}
    <p>
{% capture newLine %}
{% endcapture %}
<!-- An technique learned from https://community.shopify.com/c/Shopify-Design/Adding-newline-quot-n-quot-not-lt-br-gt-to-text-string-in-liquid/td-p/215995 for capturing newlines -->
        {{ include.data.ref | prepend: newLine | prepend: "**See Also:**" | markdownify }}
    </p>
    {% endif %}
</div>